*, *::before, *::after {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

header{
    width: 100vw;
    background-color: rgb(19, 64, 128);
    height: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    font-size: 40px;
    color: white;
    margin: auto;
    text-align: center;
}

main{
    margin: auto;
}

h2{
    font-size: 32px;
    margin: 20px 0 0 0;
    text-align: center;
}
h3{
    font-size: 28px;
    margin: 0;
    text-align: center;
}

.main-section{
    padding: 40px 0px;
    border-bottom: 2px solid rgb(19, 64, 128);
}

form{
    font-size: 24px;
    width: fit-content;
    margin: 0 auto;
    padding: 0 auto;
}

.input-section{
    padding: 12px 24px 40px 24px;    
    position: relative;
}

.input-style{
    gap: 24px;
    width: fit-content;
    display: flex;
    justify-content:center;
    align-items: center;
}

.input-style-submit{
    margin: 0 auto;
    padding:12px 24px;
}

.input-style label{
    min-width: 64px;
    padding-top: 4px;
}

.input-style input, .input-style-submit input[type="submit"] {
    font: inherit;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    width: 400px;
    padding: 0.35rem;
}

.input-style input:focus{
    border: 2px solid rgb(19, 64, 128);
}

.input-style-submit input[type="submit"] {
    width: 400px;
    background-color: rgb(19, 64, 128);
    color: white;
    cursor: pointer;
    margin: 0 auto;
    display: flex;
    justify-content:center;
    align-items: center;
}

.input-style-submit input[type="submit"]:disabled, 
.flex_form > .input-style-submit input[type="submit"]:disabled {
    background-color: rgb(125, 148, 181);
    cursor: not-allowed;
}

.input-style-submit input[type="submit"]:not(:disabled):hover,
.flex_form > .input-style-submit input[type="submit"]:not(:disabled):hover  {
    background-color: rgb(13, 43, 85);
}

.error{
    position: absolute;
    top: 62px;
    left: 112px;
    font-size: 18px;
    color: rgb(193, 62, 25);
}

ol{
    list-style: none;
    margin: 0 auto;
    padding: 0 12px;
    font-size: 18px;
    font-weight: 400;
    max-width: 800px;
}

li{
    position: relative;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    gap: 4px;
    border-radius: 4px;
}

ol p{
    padding: 4px 0;
    margin: 4px 0;
}


.message_area{
    background-color:rgb(240, 243, 247);
    overflow: hidden;
    max-height: 300px;
    overflow-y: auto;   
    border-radius: 12px;
    list-style: none;
    margin: 0 auto;
    padding: 0 12px;
    font-size: 18px;
    font-weight: 400;
    max-width: 800px;
}

.message_area li{
    justify-content: center;
}

.message-member-name{
    width: 160px !important;
    text-align: right;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;   
    text-overflow: ellipsis;
}

.message-content{
    margin-right: 32px;
    width: calc(100% - 160px);
}
/* 
.message_area button{
    font: inherit;
    border: 1px solid rgba(100, 100, 100, 0);
    color: rgb(19, 64, 128);
    border-radius: 4px;
    width: inherit;
    padding: 4px 0;
    cursor: pointer;
    margin: 4px 12px;
} */

i.mdi{
    position: absolute;
    right: 4px;
    font-size: 24px; 
    width: 24px;
    height: 24px;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 4px;
    padding: 4px;
    border-radius: 4px;
}

i.mdi:hover{
    background-color: rgb(188, 210, 240);
    color:rgb(13, 43, 85) ;
}

li:hover{
    background-color: rgb(233, 238, 246);
}


.flex_form{
    display: flex;
    justify-content:center;
    align-items: center;
}

.flex_form > .input-section{
    padding: 12px 24px 40px 24px;
    
}

.flex_form > .input-style input, .input-style-submit input[type="submit"] {
    font: inherit;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    width: 400px;
    padding: 0.35rem;
}

.flex_form > .input-style-submit{
    margin: 0 auto;
    padding:12px 24px 40px 24px;
}

.flex_form > .input-style-submit input[type="submit"] {
    width: inherit;
}

.result_area{
    background-color:rgb(240, 243, 247);
    overflow: hidden;
    max-height: 300px;
    overflow-y: auto;   
    border-radius: 12px;
    margin: 0 auto;
    padding: 0 12px;
    font-size: 18px;
    font-weight: 400;
    max-width: 800px;
    min-height: 40px;
    text-align: center;
}