*, *::before, *::after{
    box-sizing: border-box;
}

/* design-guideline.css */
:root {
    --color-cyan-20: #AADDEE;
    --color-cyan-50:#66AABB;
    --color-cyan-70: #448899;

    --color-gray-10: #F8F8F8;
    --color-gray-20: #E8E8E8;
    --color-gray-50:#757575;
    --color-gray-70: #666666;

    --color-neutral-500:#AABBCC;

    --color-black-200:#00000033;
    --color-black-600: #00000099;
    --color-black-900: #000000;

    --color-white-000:#ffffff00;
    --color-white-200:#ffffff33;
    --color-white-400:#ffffff66;
    --color-white-750:#ffffffbf;
    --color-white-900: #ffffff;


    --color-gradient-cyan-400: linear-gradient(135deg, #AADDEE, #66AABB);
    --color-gradient-cyan-500: linear-gradient(135deg, #66AABB, #337788);
    
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-700: 700;
    --font-family: 'Noto Sans TC', 'Roboto', sans-serif;

}

h1{
    font-size: 1.75rem;
    font-weight: var(--font-weight-700);
    line-height: 120%;
    font-family: var(--font-family);
    padding: 0;
    margin: 0;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

h2{
    font-size: 1.875rem;
    font-weight: var(--font-weight-700);
    line-height: 2.125rem;
    font-family: var(--font-family);
    padding: 0;
    margin: 0;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

h3{
    font-size: 1.5rem;
    font-weight: var(--font-weight-700);
    line-height: 1.5rem;
    font-family: var(--font-family);
    padding: 0;
    margin: 0;
}

.h3-reg{
    font-size: 1.5rem;
    font-weight: var(--font-weight-500);
    line-height: 1.5rem;
    font-family: var(--font-family);
    padding: 0;
    margin: 0;
}

p{
    font-size: 1rem;
    font-weight: var(--font-weight-400);
    line-height: 1.5rem;
    font-family: var(--font-family);
    padding: 0;
    margin: 0;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.btn-text-bold{
    font-size: 19px;
    font-weight: var(--font-weight-700);
    line-height: 1rem;
    font-family: var(--font-family);
}

.btn-text-med{
    font-size: 19px;
    font-weight: var(--font-weight-500);
    line-height: 1rem;
    font-family: var(--font-family);
}

.content-text-bold{
    font-size: 1rem;
    font-weight: var(--font-weight-700);
    line-height: 1.5rem;
    font-family: var(--font-family);
}

.content-text-med{
    font-size: 1rem;
    font-weight: var(--font-weight-500);
    line-height: 1.5rem;
    font-family: var(--font-family);
}

.body-bold{
    font-size: 1rem;
    font-weight: var(--font-weight-700);
    line-height: 1.5rem;  
    font-family: var(--font-family);
}

.body-med{
    font-size: 1rem;
    font-weight: var(--font-weight-500);
    line-height: 1.5rem;
    font-family: var(--font-family);
}

.li-text-med{
    font-size: 0.875rem;
    font-weight: var(--font-weight-500);
    line-height: 1.25rem;
    font-family: var(--font-family);
}

/* root */
body{
    padding: 0;
    margin: 0;
}

ul, ol{
    list-style: none;
    margin: 0;
    padding: 0;   
}

/* header section */
header{
    padding: 10px 0 10px 0;
    position: fixed;
    z-index: 100;
    top: 0;
    background-color: var(--color-white-900);
    height: 54px;
    width: 100vw;
    border-bottom: 1px solid var(--color-gray-20);
}

nav{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
}

nav > h2{
    color: var(--color-cyan-70);
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    cursor: pointer;
}

nav > h2:hover{
    color: var(--color-cyan-50);
}

nav > h2:focus{
    color: var(--color-cyan-70);
}

nav div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#login-and-signup-btn, #logout-btn{
    display: none;
}

main{
    padding-top: 54px;
}


/* footer section */
footer{
    background-color: var(--color-gray-70);
    padding: 40px 0;
    margin: 0 auto;
    color: var(--color-white-900);
    height: 104px;
}

footer > div{
    text-align: center;
}

/* button med-solid */
.btn-med-solid{
    padding: 10px 20px;
    height: 46px;
    border-radius: 5px;
    color: var(--color-white-900);
    background-color: var(--color-cyan-70);
    width: fit-content;
    max-width: 400px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    border: none;
    cursor: pointer;
}

.btn-med-solid:hover{
    color: var(--color-white-900);
    background-color: var(--color-cyan-50);
    cursor: pointer;
}

.btn-med-solid:active{
    color: var(--color-white-900);
    background-color: var(--color-cyan-70);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-med-plain{
    color: var(--color-gray-70);
    padding: 10px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white-000);
    border: var(--color-white-000);
    white-space: nowrap; 
    cursor: pointer;
}

.btn-med-plain:hover{
    color: var(--color-black-900);
    cursor: pointer;   
}

.btn-med-plain:active{
    background-color: var(--color-cyan-20);
    color: var(--color-cyan-70);   
}

/* login and signup pop-up */
#login-pop, #signup-pop{
    width: 100vw;
    height: 100vh;
    background-color: var(--color-black-200);
    position: fixed;
    z-index: 101;
    left: 0;
    top: 0;
    display: none;
}

.pop-container{
    max-width: 340px;
    background-color: var(--color-white-900);
    border-radius: 5px;
    overflow: hidden;
    margin: 80px auto 0 auto;
}

.gradient-style{
    background: var(--color-gradient-cyan-500);
    height: 10px;
}

.pop-body{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 15px;
}

.pop-body > i{
    position: absolute;
    top:10px;
    right: 10px;
    cursor: pointer;
}

.pop-title{
    text-align: center;
    padding-bottom: 15px;
}


.pop-body i.mdi{
    font-size: 23px; 
    width: 23px;
    height: 23px;
    display: flex; 
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--color-gray-70);
}

.pop-body i.mdi:hover{
    border: 1px solid var(--color-cyan-50);
    color: var(--color-cyan-70);   
}

.pop-body i.mdi:active{
    border: 1px solid var(--color-gray-70);
    color: var(--color-gray-70);   
}

.pop-input{
    display: flex;
    flex-direction: column;
    gap: 10px;    
}

.pop-input .btn-med-solid{
    width: 100%;
}

.pop-input input{
    width: 100%;
    height: 46px;
    padding: 15px;
    color: var(--color-black-900);
    border-radius: 5px;
    border: 1px solid var(--color-gray-50);
    outline: none;
}

.pop-input input::placeholder{
    color: var(--color-gray-50);
}

.pop-input input:hover{
    border: 1px solid var(--color-cyan-50);
}

.pop-input input:focus{
    border: 1px solid var(--color-cyan-70);
    color: var(--color-black-900);
}

.pop-more{
    margin: auto;
    display: flex;
    gap: 0;
    color: var(--color-gray-70);
    min-height: 22px;
    align-items: center;
}

#login-error-hint, 
#signup-error-hint{
    display: none;
    color: red;
}