*, *::before, *::after{
    box-sizing: border-box;
}

/* design-guideline.css */
:root {
    --color-cyan-20: #AADDEE;
    --color-cyan-50:#66AABB;
    --color-cyan-70: #448899;

    --color-gray-10: #F8F8F8;
    --color-gray-20: #E8E8E8;
    --color-gray-50:#757575;
    --color-gray-70: #666666;

    --color-neutral-500:#AABBCC;

    --color-black-600: #00000099;
    --color-black-900: #000000;

    --color-white-000:#ffffff00;
    --color-white-200:#ffffff33;
    --color-white-400:#ffffff66;
    --color-white-900: #ffffff;


    --color-gradient-cyan-400: linear-gradient(135deg, #AADDEE, #66AABB);
    --color-gradient-cyan-500: linear-gradient(135deg, #66AABB, #337788);
    
    --font-weight-500: 500;
    --font-weight-700: 700;
    --font-family: 'Noto Sans TC', 'Roboto', sans-serif;

}

h1{
    font-size: 1.75rem;
    font-weight: var(--font-weight-700);
    line-height: 120%;
    font-family: var(--font-family);
    padding: 0;
    margin: 0;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

h2{
    font-size: 1.875rem;
    font-weight: var(--font-weight-700);
    line-height: 2.125rem;
    font-family: var(--font-family);
    padding: 0;
    margin: 0;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

h3{
    font-size: 1.5rem;
    font-weight: var(--font-weight-700);
    line-height: 1.5rem;
    font-family: var(--font-family);
    padding: 0;
    margin: 0;
}

.h3-reg{
    font-size: 1.5rem;
    font-weight: var(--font-weight-500);
    line-height: 1.5rem;
    font-family: var(--font-family);
    padding: 0;
    margin: 0;
}

p{
    font-size: 1rem;
    font-weight: var(--font-weight-500);
    line-height: 1.5rem;
    font-family: var(--font-family);
    padding: 0;
    margin: 0;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.btn-text-bold{
    font-size: 19px;
    font-weight: var(--font-weight-700);
    line-height: 1rem;
    font-family: var(--font-family);
}

.btn-text-med{
    font-size: 19px;
    font-weight: var(--font-weight-500);
    line-height: 1rem;
    font-family: var(--font-family);
}

.content-text-bold{
    font-size: 1rem;
    font-weight: var(--font-weight-700);
    line-height: 1.5rem;
    font-family: var(--font-family);
}

.content-text-med{
    font-size: 1rem;
    font-weight: var(--font-weight-500);
    line-height: 1.5rem;
    font-family: var(--font-family);
}

.body-bold{
    font-size: 1rem;
    font-weight: var(--font-weight-700);
    line-height: 1.5rem;  
    font-family: var(--font-family);
}

.body-med{
    font-size: 1rem;
    font-weight: var(--font-weight-500);
    line-height: 1.5rem;
    font-family: var(--font-family);
}

.li-text-med{
    font-size: 0.875rem;
    font-weight: var(--font-weight-500);
    line-height: 1.25rem;
    font-family: var(--font-family);
}

/* root */
body{
    padding: 0;
    margin: 0;
}

ul, ol{
    list-style: none;
    margin: 0;
    padding: 0;   
}

/* header section */
header{
    padding: 10px 0 10px 0;
    position: fixed;
    z-index: 100;
    top: 0;
    background-color: var(--color-white-900);
    height: 54px;
    width: 100vw;
}

nav{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
}

nav > h2{
    color: var(--color-cyan-70);
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    cursor: pointer;
}

nav > h2:hover{
    color: var(--color-cyan-50);
}

nav > h2:focus{
    color: var(--color-cyan-70);
}

nav div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button{
    color: var(--color-gray-70);
    padding: 10px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white-000);
    border: var(--color-white-000);
    white-space: nowrap; 
}

nav button:hover{
    color: var(--color-black-900);   
}

nav button:active{
    background-color: var(--color-cyan-20);
    color: var(--color-cyan-70);   
}

main{
    padding-top: 54px;
}


/* footer section */
footer{
    background-color: var(--color-gray-70);
    padding: 40px 0;
    margin: 0 auto;
    color: var(--color-white-900);
    height: 104px;
}

footer > div{
    text-align: center;
}
