*, *::before, *::after{
    box-sizing: border-box;
}

/* root */
body{
    padding: 0;
    margin: 0;
}

ul, ol{
    list-style: none;
    margin: 0;
    padding: 0;   
}

/* header section */
header{
    padding: 10px 0 10px 0;
    position: fixed;
    z-index: 100;
    top: 0;
    background-color: var(--color-white-900);
    height: 54px;
    width: 100vw;
}

nav{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
}

nav > h2{
    color: var(--color-cyan-70);
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

nav div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button{
    color: var(--color-gray-70);
    padding: 10px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white-000);
    border: var(--color-white-000);
    white-space: nowrap; 
}

nav button:hover{
    color: var(--color-black-900);   
}

nav button:active{
    background-color: var(--color-cyan-20);
    color: var(--color-cyan-70);   
}

/* banner */
#banner{
    height: 320px;
    background-image: url(../image/welcome.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    color: var(--color-white-900);
    margin: auto;
}

#banner > div{
    max-width: 1200px;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; 
    height: 100%; 
}

.banner-title{
    min-height: 78px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between; 
    padding-top: 4px;
}

#banner > div > *:not(:last-child) {
    margin-bottom: 25px;
}


#searchBar{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    box-shadow: 0px 0px 20px 0px #ABC;
    width: 100%;
    max-width: 460px;
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--color-white-900);
}

#searchBar input{
    width: 100%;
    height: 46px;
    padding: 15px;
    color: var(--color-black-900);
    border-radius: 5px 0 0 5px;
    border: none;
    outline: none;
}

#searchBar input::placeholder{
    color: var(--color-gray-50);
}

#searchBar input:hover{
    border: 1px solid var(--color-black-900);
}

#searchBar input:focus{
    border: 1px solid var(--color-black-900);
}

#searchBar button{
    color: var(--color-white-900);
    padding: 8px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-cyan-70);
    border: none;
}

#searchBar button:hover{
    background-color: var(--color-cyan-50);
}

#searchBar button:active{
    background-color: var(--color-cyan-70);
}

#searchBar i.mdi{
    font-size: 30px; 
    width: 30px;
    height: 30px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

/* gallery section */
#gallery{
    max-width: 1200px;
    padding: 40px 0;
    margin: auto;
}

/* carousel */
#carousel{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
}

#carousel-left-btn{
    padding: 9px 0 9px 15px;
    height: 100%;
    cursor: pointer;
    display: none;
}

#carousel-right-btn{
    padding: 9px 15px 9px 0;
    height: 100%;
    cursor: pointer;
    display: none;
}


#carousel i.mdi{
    font-size: 32px; 
    width: 32px;
    height: 32px;
    display: flex; 
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid var(--color-gray-50);
    color: var(--color-gray-50);
}

#carousel i.mdi:hover{
    border: 1px solid var(--color-black-900);
    color: var(--color-black-900);   
}

#carousel i.mdi:active{
    background-color: var(--color-cyan-20);
    border: 1px solid var(--color-cyan-70);
    color: var(--color-cyan-70);   
}


#carousel-container{
    width: fit-content; 
    max-width: 100%; 
    overflow: hidden; 
    position: relative;
}

#carousel-container ol{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px; 
    padding: 13px 10px;  
    width: 100%;
    overflow: hidden;
    position: relative;
    white-space: nowrap; 
    /* transition: transform 0.3s ease-in-out;
    transform: 0;
    transition-duration: 0ms; */
}

#carousel-container li{
    padding: 5px 15px;
    width: min-content;
    white-space: nowrap;
    color: var(--color-gray-70);
    cursor: pointer;
}

#carousel-container li:hover{
    color: var(--color-black-900);   
}

#carousel-container li:active{
    background-color: var(--color-cyan-20);
    color: var(--color-cyan-70);   
}

/* attraction */

#attraction{
    padding: 15px;
}

#attraction ol{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

#attraction li{
    width: 270px;
    height: 242px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid var(--color-gray-20);
    cursor: pointer;
    position: relative;
}

#attraction li::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--color-white-000);
    transition: background-color 0.1s ease-in-out;
}

#attraction li:hover::after{
    background-color: var(--color-white-200);
}

#attraction img{
    width: 60px;
    height: auto;
}

@media (min-width: 600px) and (max-width: 1200px) {
    #attraction li{
        width: 100%;
        max-width: calc(50% - 15px);
    }
}

@media (max-width: 600px){
    #attraction li{
        width: 100%;
        max-width: none;
    }
}

.attraction-thumbnail{
    background-image:;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    height: calc(100% - 45px);
}

.attraction-name{
    color: var(--color-white-900);
    background-color: var(--color-black-600);
    height: 40px;
    width: 100%;
    padding: 10px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.mrt-and-category{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    height: 45px !important;
}

.attraction-mrt{
    color: var(--color-gray-50);
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.attraction-category{
    color: var(--color-gray-50);
    text-align: right;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

/* footer section */
footer{
    background-color: var(--color-gray-70);
    padding: 40px 0;
    margin: 0 auto;
    color: var(--color-white-900);
    height: 104px;
}

footer > div{
    text-align: center;
}


